In [1]:
import pandas as pd
import numpy as np
from prepare_regression import *
from algo import *
from plotter import *
import warnings; warnings.simplefilter('ignore')

In [2]:
data = pd.read_csv('data/data_en.csv', parse_dates=['date'], index_col=0)

In [3]:
data.drop(columns="language")

            date     article  pageviews
0     2012-01-01  abu_sayyaf        254
1     2012-01-02  abu_sayyaf        351
2     2012-01-03  abu_sayyaf        423
3     2012-01-04  abu_sayyaf        418
4     2012-01-05  abu_sayyaf        804
...          ...         ...        ...
70123 2014-12-27       yemen       1895
70124 2014-12-28       yemen       1929
70125 2014-12-29       yemen       2180
70126 2014-12-30       yemen          0
70127 2014-12-31       yemen       2226

[70128 rows x 3 columns]

In [4]:
data = data[data.article != 'hamas']

In [5]:
relevant= prepare_data_for_regression_with_window(data, 18,48,20)

In [6]:
relevant

         date  pageviews  time  intervention  post_slope
17 2013-06-30    2649743     1             0           0
18 2013-07-31    2330629     2             0           0
19 2013-08-31    2382858     3             1           1
20 2013-09-30    2498279     4             1           2
21 2013-10-31    2487946     5             1           3
22 2013-11-30    2459252     6             1           4
23 2013-12-31    1860747     7             1           5
24 2014-01-31    2395900     8             1           6
25 2014-02-28    1943184     9             1           7
26 2014-03-31    2220918    10             1           8
27 2014-04-30    2098405    11             1           9
28 2014-05-31    2324752    12             1          10
29 2014-06-30    2614675    13             1          11
30 2014-07-31     498357    14             1          12
31 2014-08-31     133212    15             1          13
32 2014-09-30     547971    16             1          14
33 2014-10-31     960633    17             1          15
34 2014-11-30    1436572    18             1          16
35 2014-12-31     990120    19             1          17
36 2015-01-31    2107724    20             1          18
37 2015-02-28    1945308    21             1          19
38 2015-03-31    2375285    22             1          20
39 2015-04-30    2229550    23             1          21
40 2015-05-31    1853751    24             1          22
41 2015-06-30    1342992    25             1          23
42 2015-07-31    1715271    26             1          24
43 2015-08-31    1417292    27             1          25
44 2015-09-30    1687230    28             1          26
45 2015-10-31    1795753    29             1          27
46 2015-11-30    2153079    30             1          28
47 2015-12-31    1122578    31             1          29

In [7]:
model = smf.ols('pageviews ~ time + C(intervention) + post_slope', data=relevant)
res = model.fit()
res.summary()
res.rsquared

0.1698680273682167

## Remarks: 
Taking an extended version of the data, we are confronted to the challenge of new confounders i.e events that may change the online behavior towards the terrorism related articles. 
We spotted a remarkable drop in the views in July 2014. We would like to test the importance of this drop statistically and whether it was due to a behavior-changing event or just these points were outliers. 
We first notice that, in our dataset, in months July and August 2014, there are a lot of articles with zero pageviews.

After fitting a segmented regression model with intervention on June 2014, we see that the pvalue of the intervention is small (0.02) and less than 0.05. On the other hand, the pvalues of the month index and post slope parameters are high ...
Also, the R square value of the model is 0.415, which means that the segmented regression with the intervention set

In [8]:
##algorithm

confounder_founder(data, 12, 5)

NameError: name 'smf' is not defined